body {
    background-image: url(img/background.jpg);
    background-size: 100%;
    background-size: cover;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 64%;
    height: 90%;
    box-sizing: border-box;
    padding: 5%;
    margin: 3% 18% 15%;
    border-radius: 12px;
}

.logo {
    display: block;
    margin: auto; 
    width: 23%;
    height: 23%;  
}

.motto {
    text-align: center;
    color: rgb(41, 207, 22);
    margin: 0;
}

main, .motto {
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color:rgb(40, 219, 20);
    width: 100%;
    margin: auto;
    padding: 1%;
    box-sizing: border-box;
}

.pulsante {
    text-align: center;

}

main {
    color: white;
}

.monopattino {
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 0;
}

.orange-bar {
    background-color: rgb(218, 174, 90);
    width: 300px;
    height: 23px;
    border-radius: 5px;

}

.green-bar {
    background-color: rgb(50, 199, 50);
    width: 450px;
    height: 23px;
    border-radius: 5px;
}

.red-bar {
    background-color: rgb(153, 59, 59);
    width: 150px;
    height: 23px;
    border-radius: 5px;
}



